
<div id="main">
    <header>
        <h1>Easy to communicate</h1>
        <nav>
            <ul>
            <li><a href="#">Contact us</a></li>	
            <li><a href="#">About us</a></li>
            <li><a href="patient_login.html">Login</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
            <li><a href="#"><b>Home</b></a></li>
            <li><a href="#"><b>Location</b></a></li>
            <li><a href="#"><b>Specialization</b></a></li>
            </ul>
    </nav>
    </header>
</div>


<router-outlet></router-outlet>