<html>
	<header>
		<title>Patient Registration Form</title>
		<link rel="stylesheet" href="patient_reg.css">

	</header>
<body>
	<h1>Registration Form</h1>
	<br>
	<div class="reg">
		<form id="registration">
		
		<input type="text" name="Username" placeholder="Username" id="name"><br><br>
		
		<input type="radio" id="rd" name="Gender" value="male">Male
		<input type="radio" id="rd" name="Gender" value="female">Female
		<input type="radio" id="rd" name="Gender" value="others">Others
		<br><br>
	
		<input type="email" name="email" placeholder="Enter your mail id" id="name"><br><br>

	    <input type="email" name="email" placeholder="Re-Enter your mail id" id="name"><br><br>
		
		<input type="password" name="pass" placeholder="Enter your password" id="name"><br><br>
	  
		 <input type="password" name="pass" placeholder="Confirm your password" id="name"><br><br>
		
		<input type="phone" name="num" placeholder="Mobile Number" id="name"><br><br>
	
		<input type="date" name="date" id="name"><br><br>

		<input type="checkbox" id="ch"><span id="ch">I agree all the terms & conditions.</span><br><br>

		<button type="submit" id ="sub">Register</button>
          
        </form>
	</div>
</body>
</html>
