<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<link rel="stylesheet" href="Home.css">
</head>
<body>
  <div class="bgimg">
  	<div class="menu">
  		<div class="leftmenu">
  			<h4>Easy To Comunicate</h4>
  		</div>
  		<div class="rightmenu">
  			<ul>
  				<li>Contact us</li>
  				<li>About us</li>
  				<li>Login</li>
  			</ul>
  		</div>
  		<div class="rightmenubelow">
  			<ul>
  				<li>Home</li>
  				<li>Location</li>
  				<li>Specialization</li>
  			</ul>
  		</div>
  	</div>
  	<div class="text">
  		<h1>Easy to comunicate</h1>
  		<button id="button1">Learn More</button>
  		
  	</div>
  </div>
</body>
</html>