<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href="home2.css">
</head>
<body>
	<div id="main">
		<header>
			<h1>Easy to communicate</h1>
			<nav>
				<ul>
				<li><a href="#">Contact us</li>	
				<li><a href="#">About us</li>
				<li><a href="patient_login.html">Login</li>
				</ul>
			</nav>
			<nav>
				<ul>
				<li><a href="#"><b>Home</b></li>
				<li><a href="#"><b>Location</b></li>
				<li><a href="#"><b>Specialization</b></li>
			
			</ul>
		</nav>
		</header>
		<section>
			<article>
			<p>
			<p>ABC</p>
			<p>abc</p>
			
		</article>
		<aside>
			<p>
				<marquee direction="down" behavior="scroll" scrollamount="15%">
		  		Welcome to our Website
			
			</marquee>
			</p>
		</aside>
		</section>
		<footer>
		<p>Copyright &copy; 2019</p>
	</footer>
</div>
</body>
</html>